* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding-left: 5px;
    padding-right: 10px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:darkgrey ;
    font-size: large; 

}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgrey;
    

}
 a {
    font-size: 15px;
    font-weight: 400;color: rgb(11, 1, 1);


}
li {
    list-style: none;
    display: inline-block;
}
li a {
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    color: rgb(11, 1, 1);

}
button {
    background-color: blue;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;

}
button a {
    font-weight: bold;
    font-size: 15px; color: rgb(11, 1, 1);
    display: flex;
    

}
.navdiv  {
    width: 50px;
    height: 30px;
}
.navbar a:hover {
    background-color: blue;

}
#ada a:hover {
    background-color: white;
}
.hamburger-menu {
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: end;
}